body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

#map-container {
/*  position: relative;
  margin: 50px;*/
}

.truckList {
  height: 300px;
  width: 200px;
  position: fixed;
  top: 50px;
  left: 50px;
  background-color: gray;
  opacity: .75;
  z-index: 1000;
}
