body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

.truckList {
  height: 550px;
  width: 300px;
  position: fixed;
  top: 50px;
  left: 80px;
  background-color: black;
  opacity: .35;
  z-index: 1000;
}
