body {
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

ul, ol {
  list-style-type: none;
  padding-left: 10px;
  border-radius: 8px;
}

li {
  padding-left: 10px;
  padding-right: 10px;
}

.truckList {
  height: 550px;
  width: 300px;
  position: fixed;
  top: 30px;
  left: 80px;
  background-color: #333;
  opacity: .85;
  z-index: 1000;
  overflow-y: scroll;
}

#list-container {
  padding: 10px;
}

.listItemView {
  min-height: 80px;
  opacity: 1;
  color: white;
}

.listItemView li:nth-child(1) {
  font-size: 1.2em;
}

.listItemView li:first-child {
  padding-top: 10px;
}

.listItemView li:last-child {
  padding-bottom: 10px;
}

.selected {
  background-color: gray;
}



